// myraid pro regular, lightSemiExt,

@font-face {
    font-family: 'MyriadPro LightSemiExt', sans-serif;
    src: url('../fonts/MyriadPro-LightSemiExt.eot');
    src: url('../fonts/MyriadPro-LightSemiExt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-LightSemiExt.woff2') format('woff2'),
        url('../fonts/MyriadPro-LightSemiExt.woff') format('woff'),
        url('../fonts/MyriadPro-LightSemiExt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MyriadPro Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes slide-animation {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}
  
  

$green: #00aa4b;
$pale: #e8e7e7;
$black_bg: #232323;
$balck_text: #303030;
$orange: #ffaf2d;
$green: #00aa4b;





body {
	margin: 0;

	font-family: 'MyriadPro Regular', sans-serif;
	font-size: 16px;
	color: $balck_text;
	-webkit-font-smoothing: antialiased;
	background-color: #fff;

	width: 100%;
	max-width: 1920px;
	// overflow: hidden;
}



*,
*:before ,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p{
	margin: 0;
}

.container__top{
	width: 100%;
	max-width: 1550px;
}

.container__content{
	width: 100%;
	max-width: 1407px;
}

.phone__bar__bg{
	display: none;
	position: fixed;
	z-index: 1000;
	&:after{
		content: "";
		position: absolute;
		// left: 0;
		// top: 0;
		// transform: translate(0,0);
		width: 2000px;
		height: 2000px;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 1500;
	}
}


.header{
	background-color: $green;
	display: flex;
	justify-content: center;
	
		div{
			display: flex;
			justify-content: space-between;
			// align-items: center;
			flex-wrap: wrap;
			position: relative;
			nav{
				position: relative;
				display: flex;
				flex-wrap: nowrap;

				

				a{
					text-decoration: none;
					color: #fff;
					padding: 20px 12px 20px 12px;
					margin: 0 6px 0 6px;
					transition: .3s linear;
					white-space: nowrap;

					display: flex;
					align-items: center;

					img{
						padding: 0 5px;
					}

					&:hover{
						opacity: .7;
					}

					&:first-child{
						margin-left: 0;
						padding-left:0; 
					}

					&:last-child{
						margin-right: -12px;
					}
				}

				.mail{
					cursor: pointer;
					background: none;
					border: none;
					text-decoration: none;
					color: #fff;
					padding: 20px 12px 20px 12px;
					margin: 0 6px 0 6px;
					transition: .3s linear;
					white-space: nowrap;
					font-size: inherit;

					display: flex;
					align-items: center;
					
					// &:after{
					// 	z-index: 1000;
					// 	opacity: 0;
					// 	transition: .3s linear;
					// 	position: absolute;
					// 	content: "Скопировать";
					// 	background-color: $black_bg;
					// 	border-radius:50px;
					// 	padding: 18px 36px;

					// 	left: 36.7%;


					// }

					&:hover{
						opacity: 1;
						background-color: rgba(255, 255, 255, 0.2);
					}

					img{
						padding: 0 5px;
					}

					&:first-child{
						margin-left: 0;
						padding-left:0; 
					}

					&:last-child{
						margin-right: -12px;
					}

					// &:active{
					// 	&:after{
					// 		opacity: 1;
					// 		top: 50%;
					// 		left: 36.7%;
					// 		transform: translate(0, 60%);
					// 	}
					// }
				}

				.mail.active{
					&:after{
						z-index: 1000;
						transition: .3s linear;
						position: absolute;
						content: "Скопировать";
						background-color: $black_bg;
						border-radius:50px;
						padding: 18px 36px;

						left: 35%;
						top: 100%;
						cursor: pointer;
					}
				}

				.phone{
					background: none;
					border: none;
					text-decoration: none;
					color: #fff;
					padding: 20px 12px 20px 12px;
					margin: 0 6px 0 6px;
					transition: .3s linear;
					white-space: nowrap;
					font-size: inherit;

					display: flex;
					align-items: center;
					&:hover{
						opacity: 1;
						background-color: rgba(255, 255, 255, 0.2);
					}

					img{
						padding: 0 5px;
					}

					&:first-child{
						margin-left: 0;
						padding-left:0; 
					}

					&:last-child{
						margin-right: -12px;
					}

				}

				
			}

			.phone__bar{
				all: unset;
  				* {
  				  all: unset;
  				}
				position: absolute;
				background-color: #fff;
				top: 48px;
				max-width: 754px;
				max-height: 364px;
				z-index: 2000;
				padding: 50px;

				display: flex;
				align-items: left;
				opacity: 0;

				.close{
					font-weight: 300;
					font-size: 30px;
					color: #777777;
					position: absolute;
					top: 17px;
					right: 17px;
					cursor: pointer;

				}

				.type__of__call{
					display: flex;
					flex-direction: column;
					margin-right: 120px;
					h5{
						color: #00aa4b;
						font-weight: 300;
						font-size: 24px;
					}

					p{
						font-weight: 300;
						font-size: 16px;
						color: #777;

						&:last-of-type{
							color: #000;
							margin: 25px 0;
						}
					}

					a{
						position: relative;
						margin-bottom: 15px;
						display: flex;
						align-items: center;
						font-weight: 300;
						font-size: 18px;
						color: #000;
						text-decoration: none;
						cursor: pointer;

						&:after{
							display: block;
							position: absolute;
							left: 35px;
							bottom: 2px;
							width: 0;
							height: 1px;
							background-color: #bababa;
							content: "";
							transition: width .3s ease-out;
						}

						&:hover:after, &:focus:after{
							width: 35%;
						}


						img{
							width: 26px;
							margin-right: 5px;
						}
					}
				}

				.reversed__call{
					font-weight: 300;
					display: flex;
					flex-direction: column;
					
					h5{
						font-size: 24px;
						font-weight: 300;
						color: #000;
					}

					p{
						font-weight: 300;
						font-size: 16px;
						color: #777;
						margin-bottom: 30px;
					}

					form{
						font-weight: 300;
						display: flex;
						flex-direction: column;
						input{
							position: relative;
							font-weight: 300;
							border-bottom: 1px solid #c6c6c6; 
							margin-bottom: 25px;
							padding: 10px;
							font-size: 18px;
							color: #000;
							transition: .3s linear;

							&:focus{
								border-bottom: 1px solid #ff9d0c;
							}
						}

						label{
								content: "Имя:";
								font-weight: 300;
								font-size: 16px;
								color: #000;
						}

						button{
							font-weight: 300;
							cursor: pointer;
							font-size: 18px;
							color: #fff;
							background-color: #ffaf2d;
							padding: 18px 26px;
							border-radius: 50px;
							max-width: 90px;
							transition: .3s linear;

							&:hover{
								background-color:rgb(255, 157, 45);
							}
						}
					}
				}
			}

			.phone__bar.disabled{
				display: none;
			}

			.vertical_line{
				position: relative;
				&:before{
					position: absolute;
					content: " ";
					width: 1px;
					height: 50%;
					top: 25%;
					background-color: #fff;
					opacity: .25;
				}

				margin: 0 29px;
			}

			.nav__toggle{
				display: none;
				position: absolute;
				left: 50px;
				cursor: pointer;
				background: none;
				border: none;

				justify-content: center;
				align-items: center;

				background-color: #fda11c;
				width: 50px;
				height: 50px;
				border-radius: 50%;

				.nav__toggle__item{
					height: 3px;
					width: 30px;
					background-color: #fff;

					&:before, &:after{
						pointer-events: none;
						position: absolute;
						bottom: 8px;
	
	
						height: 3px;
						width: 30px;
						content: " ";
						background-color: #fff;
	
						transition: .3s linear;
					}

					&:after{
						top: 8px;
					}
				}
			}

			.nav__toggle.active{
				.nav__toggle__item{
					background: none;

					&:before{
						transform: rotate(45deg);
						top: 0;
					}

					&:after{
						transform: rotate(-45deg);
						top:0;
					}
				}
			}

			.nav{
				display: none;
			}
			.nav.active{
				position: absolute;
				left: 0;
				top: 61px;
				display: flex;
				flex-direction: column;
				align-items: center;
				flex-wrap: wrap;
				z-index: 1111;

				background-color: $green;
				width: 25%;

				a{
					margin: 0;
					&:first-child{
						padding: 20px 12px 20px 12px;
					}

					&:last-child{
						margin-right: 0;
					}

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
}



.header.fixed{
	position: fixed;
	width: 100%;
	z-index: 1001;

	div{
		
		
		nav{
			&:nth-of-type(2){
				display: none;
			}

			&:nth-of-type(1){
				display: none;
			}
		}

		.vertical_line{
			display: none;	
		}

		.nav__toggle{
			display:flex;
			align-self: center;
		}
	}
}

.menu{
	background-color: $pale;
	display: flex;
	justify-content: center;
	div{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 6px 0;

		.logo{
			background: none;
			border: none;
			text-decoration: none;
			color: #171717;
			font-size: 33px;
			cursor: pointer;

			display: flex;
			align-items: center;

			svg{
				margin-right: 6px;
			}
		}

		form{
			width: 885px;
			height: 35px;
			display: flex;
			flex-wrap: nowrap;
			align-items: top;

			.select__wrapper{
				display: flex;
				height: 100%;
				position: relative;

				&:before{
					z-index: 1000;
					content: "";
					position: absolute;
					top: 50%;
					right: 8px;
					transform: translateY(-50%);

					width: 0;
					height: 0;
					border-style: solid;
					border-color: #393939 transparent transparent transparent;
					border-width: 6px 6px 0 6px;


					pointer-events: none;
				}
				select{
					position: relative;

					appearance: none;
					background: none;
	
					margin: 0;	
					background-color: #f1f1f1;
					border: none;
					border-radius: 5px 0 0 5px;
					color: #777777;
					padding:0 25px 0 15px;
					font-size: 16px;
					cursor: pointer;
					height: 35px;
					width: auto;
	
					&::-ms-expand{
						display: none;
					}
	
					option{
						color: #343434;
						background: none;
						transition: .3s linear;
	
						&:hover{
							color: $green;
						}
					}
				}
			}

			input{
				width: 100%;
				border: none;
				outline: none;
				padding-left: 15px;
				font-size: 18px;
				color: #000;
			}

			button{
				width: 49px;
				background-color: $orange;
				border: none;
				border-radius: 0 5px 5px 0;
				cursor: pointer;
			}
		}

		a{
			display: flex;
			align-items: center;
			text-decoration: none;
			font-size: 14px;
			color: #777777;
		}

		.cart__link{
			padding: 10px 15px;
			margin: -6px -15px -6px 0;
			transition: .3s linear;


			.cart__inner{
				display: flex;
				flex-direction: column;
				align-items: center;
				
				#quantityOfGoods{
					margin-bottom: -5px;
					color: $orange;
					transition: .3s linear;
				}
			}

			.summ{
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				margin-left: 10px;
				p{
					color: #777777;
					font-weight: 300;
					font-size: 14px;
					transition: .3s linear;
				}

				#amountOfPurchases{
					font-weight: normal;
					font-size: 16px;
					color: #171717;
					transition: .3s linear;
					white-space: nowrap;
				}
			}

			&:hover{
				background-color: $orange;
				.cart__inner{
					#quantityOfGoods{
						color: #fff;
					}
				}

				.summ{
					p{
						color: #fff;
					}

					#amountOfPurchases{
						color: #fff;
					}
				}
			}
		}

		.providers__link{
			p{
				max-width: 100px;
				padding:0 0 0 5px;
			}
		}
	}
}

.catalog{
	display: flex;
	justify-content: center;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);

	div{
		display: flex;
		justify-content: space-between;
		a{
			display: flex;
			flex-direction: column;
			align-items: center;
			text-decoration: none;
			color: $balck_text;
			transition: .3s linear;
			padding:10px 10px;

			&:hover{
				background-color: rgba(0, 0, 0, 0.2);
			}

			p{
			}

			img{
				width: 58px;
				height: 57px;
				width:auto;
				height: 70%;
			}
		}
	}
}

.main{
	background-color: #f4f2f2;
	display: flex;
	justify-content: center;
	div{
		display: flex;
		justify-content: space-between;
		.categories{
			background-color: #fff;
			display: inline-block;
			width: 25%;
			margin: 20px 20px 20px 0;
			h3{
				color: $orange;
				font-size: 24px;
				padding: 35px 35px 10px 30px;
			}

			div{
				position: relative;
				display: flex;
				justify-content: space-between;
				padding: 20px 20px 20px 30px;
				cursor: pointer;
				transition: .3s linear;

				&:hover{
					background-color: #f4f2f2;
				}
				&:after{
					position: absolute;
					bottom: 0;
					left: 0;
					content: "";
					width: 100%;
					height: 1px;
					background-color: #efeded;

					&:last-child{
						width: 0;
						height: 0;
					}
				}

				&:last-child{
					&:after{
					width: 0;
					height: 0;
					}
				}

				p{
					&:last-child{
						opacity: .4;
					}
				}
			}
		}

		.slider{
			position: relative;
			margin: 20px 0 20px 0;
			overflow-x: hidden;
			img.animate{
				animation: slide-animation 1s ease-in-out;
			}

			.slider__arrow__left, .slider__arrow__right{
				font-weight: 300;
				font-size: 47.66px;
				color: #fff;
				background-color: rgba(0,0,0, 0.05);
				border: none;
				cursor: pointer;
				z-index: 1000;

				position: absolute;
				height: 100%;
				width: 15%;

				opacity: 0;
				transition: .3s linear;

				&:hover{
					opacity: 1;
				}
			}

			.slider__arrow__right{
				right: 0;
				width: 30%;
			}

			.slider__arrow__left{
				left: 0;
			}

			.slider__text{
				position: absolute;
				left: 0;
				top: 50%;
				transform: translate(0, -50%);
				display: flex;
				flex-direction: column;
				width: 60%;
				margin: 0 0 60px 70px;

				span{
					color: #777777;
					font-size: 16px;
					font-weight: 300;
					margin-bottom: 75px;
				}

				h2{
					font-size: 40px;
					color: #f3f1f1;
				}

				p{
					font-size: 18px;
					color: #f3f1f1;
					margin: 30px 0 70px 0;
				}

				a{
					width: 129px;
					text-decoration: none;
					font-size: 18px;
					color: #fff;
					padding: 12px 21px 12px 21px;
					background-color: $orange;
					border-radius: 30px;
					transition: .3s linear;

					&:hover{
						opacity: .7;
					}
				}
			}

			.circles{
				position: absolute;
				padding-bottom: 33px;
				left: 50%;
				bottom: 0;
				transform: translate(-50%, 0);
				div{
					content: "";
					width: 9px;
					height: 9px;
					// background-color: #fff;
					border: 1px solid #fff;
					border-radius: 50%;
					margin-right: 12px;

					&:last-child{
						margin-right:0;
					}
				}

				div.active{
					background-color: #fff;
				}
			}
		}

		.sale{
			border: 2px solid $orange;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			width: 25%;
			margin: 20px 0 20px 20px;
			padding-right: 20px;
			cursor: pointer;
			img{
				width: 70px;
				height: 86px;
				margin-left: 30px;
			}

			p{
				font-weight: 300;
				color: #121212;
				font-size: 18px;
				margin: 22px 0 20px 30px;

			}

			h3{
				font-size: 40px;
				color: #181818;
				margin-left: 30px;
			}

			a{
				font-weight: 300;
				font-size: 18px;
				color: $orange;
				text-decoration: none;
				margin: 35px 0 54px 30px;
				transition: .3s linear;

				&:hover{
					opacity: .7;
				}
			}
		}
	}
}

.main__bottom{
	background-color: #f4f2f2;
	display: flex;
	justify-content: center;

	div{
		background-color: #fff;
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 101px;

		a{
			text-decoration: none;
			color: $black_bg;
			font-size: 18px;
			padding: 20px 30px 20px 30px;
			height: 70px;
			position: relative;
			transition: .3s linear;
			white-space: nowrap;

			&:hover{
				opacity: .7;
			}


			// &:after{
			// 	position: absolute;
			// 	left: 115%;
			// 	top: 50%;
			// 	transform: translate(0, -50%);
			// 	content: "";
			// 	width: 2px;
			// 	height: 70%;
			// 	background-color: $pale;
			// }

			border-right: 2px solid $pale;

			&:last-child{
				// &:after{
				// 	width: 0;
				// 	height: 0;
				// }

				border: none;
			}
		}

	}
}

.news{
	padding: 180px 0;
	background-color: #f4f2f2;
	display: flex;
	justify-content: center;
	div{
		h3{
			color: #121212;
			font-size: 40px;
		}

		.news__flex{
			width: 100%;
			display: flex;
			justify-content: space-between;
			.news__left_side__block{
				max-width: 489px;
				margin: 57px 45px 45px 0;
				img{
	
				}
	
				div{
					display: flex;
					justify-content: space-between;
					margin: 32px 0 24px 0;
					span{
						font-weight: 300;
						color: $green;
						display: block;
					}
		
					time{
						color: #777777;
						font-weight: 300;
					}
				}
	
				h4{
					color: #121212;
					font-size: 24px;
					margin: 0 0 31px 0;
				}
	
				p{
					font-weight: 300;
					color: #121212;
					line-height: 1.5;
				}
			}
	
			.news__right_side__blocks{
				margin: 57px 0 45px 45px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.news__right_side__block{
					display: flex;
					justify-content: space-between;
					img{
						max-width: 190px;
						max-height: 168px;
					}

					&:nth-child(2){
						.news__right_side__block__text{
							div{
								display: block;
								span{
									display: block;
									margin-bottom: 5px;
								}
							}
						}
					}
					
					.news__right_side__block__text{
						padding: 0 0 15px 20px;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						div{
							display: flex;
							justify-content: space-between;
							span{
								font-weight: 300;
								color: $green;
							}
				
							time{
								color: #777777;
								font-weight: 300;
							}
						}


			
						h4{
							color: #121212;
							font-size: 24px;
						}
			
						p{
							font-weight: 300;
							color: #121212;
							line-height: 1.5;
						}
					}
				}
			}
		}
		.news__button{
			font-weight: 300;
			font-size: 16px;
			padding: 12px 38px 11px 38px;
			border: 2px solid $black_bg;
			color: $balck_text;
			text-decoration: none;
			border-radius: 30px;
			transition: .3s linear;

			&:hover{
				background-color: $pale;
			}

			&:active{
				background-color: $pale;
				opacity: .7;
			}
		}
	}
}

.recommendation{
	background-color: #f4f2f2;
	display: flex;
	justify-content: center;
	div{
		h3{
			font-size: 40px;
			color: $black_bg;
			text-align: center;
		}

		p{
			font-weight: 300;
			font-size: 16px;
			color: #787878;
			text-align: center;
			padding:30px 365px 69px 365px;
			line-height: 1.3;
		}

		.recommendation__blocks{
			width: 100%;
			display: flex;
			justify-content: space-between;
			.recommendation__left_side__block{
				position:relative;
				max-width: 40%;
				img{
					max-width: 100%;
					height: 100%;
				}

				.recommendation__left_side__block__text{
					position: absolute;
					top: 0;
					text-align: center;
					h5{
						font-weight: 300;
						text-transform: uppercase;
						color: #121212;
						font-size: 20px;
						padding: 69px 0 0 0;

					}
	
					h4{
						color: #121212;
						font-size: 30px;
					}
	
					p{
						color: #777777;
						padding:30px 155px 0 155px;
					}
				}
			}

			.recommendation__right_side__blocks{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				max-width: 60%;
				.recommendation__right_side__block{
					position: relative;
					img{
						max-width: 100%;
					}
					
					.recommendation__right_side__block__text{
						width: 50%;
						position: absolute;
						top: 50%;
						left: 0;
						transform: translate(0, -50%);

						margin-left: 65px;
						h5{
							font-weight: 300;
							text-transform: uppercase;
							color: #121212;
							font-size: 20px;
						}
		
						h4{
							color: #121212;
							font-size: 30px;
						}
		
						p{
							color: #777777;
							padding: 35px 0 0 0;
							text-align: left;
						}
					}

					&:first-child{
						.recommendation__right_side__block__text{
							left: 23%;

							h5{
								color: #fff;
							}

							h4{
								color: #fff;
								width: 20%;
							}
						}
					}
				}
			}
		}

	}
}

.solutions{
	background-color: #f4f2f2;
	display: flex;
	justify-content: center;
	padding: 170px 0;
	div{
		.solutions__content{
			display: flex;
			justify-content: space-between;
			align-items: center;
			.solution{
				width: 59%;
				color: #121212;
				h4{
					font-size: 40px;
					margin-bottom: 35px;
				}

				h5{
					font-weight: 300;
					font-size: 40px;
					margin: 50px 0 35px 0;
				}

				p{
					font-weight: 300;
					font-size: 18px;
				}
			}

			.stolovaya{
				color: #121212;
				img{
				}

				h4{
					font-size: 40px;
				}

				h5{
					font-size: 24px;
				}

				p{
					font-weight: 300;
					color:  #171717;
				}

				.text__gray{
					font-weight: 300;
					color: #777777;
					margin-bottom: 35px;
				}
			}
		}

		.plus__button{
			width: 50px;
			height: 50px;
			background-color: #232323;
			border: none;
			border-radius: 50%;
			color: #fff;
			font-weight: 300;
			font-size: 24px;
			margin-top: 45px;
			cursor: pointer;
			transition: .3s linear;

			&:hover{
				background-color: #000;
			}
		}
	}
}

footer{
	display: flex;
	justify-content: center;
	background-color: #232323;
	padding: 98px 0 84px 0;
	.footer__top{
		display: flex;
		justify-content: space-between;
		.footer__top__content{
			display: flex;
			flex-direction: column;
			h5{
				font-weight: 300;
				font-size: 24px;
				color: #777777;
				margin: 0 0 35px 0;
			}

			a{
				text-decoration: none;
				color: #fff;
				font-weight: 300;
				margin: 5px 0 0 0;
				transition: .3s linear;

				&:hover{
					opacity: .7;
				}
			}
		}

		.footer__top__content, .contacts{
			a{

			}

			p{
				color: #fff;
				font-weight: 300;
				margin: 5px 0 0 0;

				&:nth-of-type(2){
					margin: 25px 0 0 0;
				}

				&:nth-of-type(3){
					margin: 0 0 25px 0;
				}

				&:nth-of-type(4){
					margin: 25px 0 0 0;
				}
			}
		}
	}

	.footer__bottom{
		display: flex;
		justify-content: space-between;
		.logo{
			background: none;
			border: none;
			text-decoration: none;
			color: #fff;
			font-size: 24px;
			cursor: pointer;

			display: flex;
			align-items: center;

			svg{
				margin-right: 6px;
			}

			div{
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				h6{
					color: #fff;
					font-size: 24px;
					font-weight: normal;
				}

				p{
					color: #787878;
					font-weight: 300;
					font-size: 16px;
				}
			}
		}

		h6{
			font-size: 18px;
			font-weight: 300;
			color: #fff;
		}
	}

	&:last-child{
		background-color: #191919;
		padding: 40px 0 30px 0;
	}
}


@media (max-width: 1600px){
	.container__top{
		width: 100%;
		max-width: 1550px;
		padding: 0 50px;
	}

	.container__content{
		width: 100%;
		max-width: 1407px;
		padding: 0 50px;
	}

	.header{
		div{
			justify-content: center;
			nav{
				&:nth-of-type(2){
					margin: 0 50px;
					order: 1;
				}
			}

			.vertical_line{
				&:nth-of-type(2){
					display: none;
				}
			}
		}
	}

	.menu{
		div.menu{
			padding: 6px 50px;
		}

		div{
			.logo{
				margin: 0 20px 0 0;
			}

			.providers__link{
				margin: 0 20px;
			}
		}
	}

	.catalog{

		div{
			flex-wrap: wrap;
			justify-content: center;
			a{
	
			}
		}
	}

	.main{
		div{
			flex-wrap: wrap;
			justify-content: center;

			.sale{
				width: 100%;
				margin: 20px 0 20px 0;
			}
		}
	}	
}

@media(max-width: 1389px){

	.recommendation{
		div{
			p{
				padding:30px 150px 69px 150px;
			}
	
			.recommendation__blocks{
				.recommendation__left_side__block{
					.recommendation__left_side__block__text{
		
						p{

							padding:30px 70px 0 70px;
						}
					}
				}
	
				.recommendation__right_side__blocks{
					.recommendation__right_side__block{
						img{
	
						}
						
						.recommendation__right_side__block__text{
							h5{
							}
			
							h4{
							}
			
							p{
							}
						}
					}
				}
			}
	
		}
	}
}

@media(max-width: 1201px){
	.recommendation{
		div{
			p{
				padding:30px 150px 69px 150px;
			}
	
			.recommendation__blocks{
				.recommendation__left_side__block{
					.recommendation__left_side__block__text{
						
						h5{
							padding: 30px 0 0 0;
						}

						p{

							padding:15px 35px 0 35px;
						}
					}
				}
	
				.recommendation__right_side__blocks{
					.recommendation__right_side__block{
						img{
	
						}
						
						.recommendation__right_side__block__text{
							h5{
							}
			
							h4{
							}
			
							p{
								padding: 15px 0 0 0;
							}
						}
					}
				}
			}
	
		}
	}
}



@media (max-width: 1125px){
	.news{
		padding: 90px 0;
		div{
			
	
			.news__flex{
				flex-direction: column;
				align-items: center;
				.news__left_side__block{
					max-width: 100%;
		
				}
		
				.news__right_side__blocks{
					margin: 0;

					.news__right_side__block{
						margin: 0 0 40px 0;
					}
				}
			}
			.news__button{
			}
		}
	}
}

@media (max-width: 1091px){
	.header{
		div{
			align-items: center;
			nav{
				&:nth-of-type(2){
					display: none;
				}

				&:nth-of-type(1){
					display: none;
				}
			}

			.vertical_line{
				display: none;	
			}

			.nav__toggle{
				display:flex;
			}
		}
	}

	.menu{
		div{
			flex-wrap: wrap;
			justify-content: space-around;
			form{
				margin-top: 20px;
				order: 1;
				.select__wrapper{
					select{
						top: -6px;
						align-self: center;
					}
				}
			}
		}
	}

	.main__bottom{
		div{
			padding: 0 50px;
			flex-wrap: wrap;
			height: 202px;
			justify-content: center;
			a{
				margin: 0 15px;

				&:nth-child(3){
					// border: none;
					margin: 0 0 0 15px;
				}

				&:nth-child(4){
					margin: 0 15px 0 0;
					border: none;
				}
			}
		}
	}
}

@media (max-width: 1080px){
	.main__bottom{
		div{
			padding: 0 50px;
			flex-wrap: wrap;
			height: 202px;
			justify-content: center;
			a{
				margin: 0 15px;

				&:nth-child(3){
					border: none;
					margin: 0 0 0 15px;
				}

				&:nth-child(4){
					margin: 0 15px 0 0;
					border-right: 2px solid $pale;
				}
			}
		}
	}
}

@media(max-width: 995px){
	.recommendation{
		div{
			p{
				padding:30px 70px 69px 70px;
			}
	
			.recommendation__blocks{
				.recommendation__left_side__block{
					.recommendation__left_side__block__text{
						
						h5{
							padding: 10px 0 0 0;
							font-size: 15px;
						}

						h4{
							font-size: 22px;
						}

						p{
							padding:5px 10px 0 10px;
						}
					}
				}
	
				.recommendation__right_side__blocks{
					.recommendation__right_side__block{
						img{
	
						}
						
						.recommendation__right_side__block__text{
							margin-left: 15px;
							width: 60%;
							h5{
								font-size: 15px;
							}
			
							h4{
								font-size: 22px;
							}
			
							p{
								padding: 0 0 0 0;
							}
						}
					}
				}
			}
	
		}
	}
}

@media (max-width: 869px){
	.main__bottom{
		div{
			height: 303px;

			a{
				&:nth-child(3){
					border-right: 2px solid $pale;
				}

				&:nth-child(2), &:nth-child(5){
					border: none;
				}
			}
		}
	}
}

@media (max-width: 854px){
	.main__bottom{
		div{
			height: 303px;

			a{
				&:nth-child(5){
					margin: 0 0 0 0;
				}


				&:nth-child(2){
					margin: 0 15px 0 0;
				}

				margin: 0 15px;
			}
		}
	}
}

@media (max-width: 824px){
	.main__bottom{
		div{
			height: 303px;

			a{
				&:nth-child(4){
					border: none;
				}


				&:nth-child(5){
					border-right: 2px solid $pale;
				}
			}
		}
	}
}

@media (max-width: 1329px){
	.main{
		div{
			.slider{
				order: -1;
				max-width: 100%;
			}

			.categories{
				width: 45%;
			}

			.sale{ 
				width: 45%;
				margin: 20px 0 20px 20px;
			}
		}
	}
}








// ------------------- mobile


// @media (max-width: 768px){
// 	.container__top{
// 		padding: 0 30px;
// 	}

// 	.container__content{
// 		padding: 0 30px;
// 	}
// 	.header, .menu{
// 		background-color: #f1f1f1;

// 		div{
// 			nav{
// 				display: none;
// 			}
// 			.nav__toggle{
// 				left: 30px;
// 				top: 12px;
// 			}
// 		}
// 	}
// }



@media (max-width: 480px){

}

@media (max-width: 382px){

}